{% extends "catalog/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Блог</h1>
    <ul class="list-group">
        {% for post in post_list %}
            <li class="list-group-item">
               <a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a>
                <small class="text-muted ms-2">{{ post.created_at }}</small>
            </li>
        {% empty %}
            <li class="list-group-item">Постов пока нет.</li>
       {% endfor %}
    </ul>
    <a href="{% url 'blog:post_create' %}" class="btn btn-success mt-3">Создать пост</a>
    </div>
{% endblock %}
